src/main/mule/cicd-test-4317.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1dd3447e-7745-41e7-be11-6d0c9f7edbe1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-test-4317-flow" doc:id="54f9078f-648c-4b08-8202-74422d62394d" >
		<http:listener doc:name="Listener" doc:id="90400d5d-923b-4faf-9e99-582e46d66601" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["redeploying finally working"]' doc:name="Set Payload" doc:id="30527be7-1011-464d-90be-7da59c536b3a" />
		<ee:transform doc:name="Transform Message" doc:id="4c978087-1053-4564-bcf8-41a9d2439903" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"time": now(),
	"message": "It works!",
	"test": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
